<div  *ngFor="let product of products" class="mat-elevation-z2" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center"
  fxLayoutGap="20px" style="padding: 24px;margin: 8px;">


<img style="width: 70px;height: 100px;" src="{{product?.imageUrl}}">

  <div fxLayout="column">
    <span class="mat-body-1">#{{product?.id}} produto</span>
    <span class="mat-title">{{product?.name}}</span>
    <span class="mat-body-1">Frete grátis</span>
  </div>


  <mat-form-field appearance="outline" style="width: 100px;">

    <input type="number" value="1" matInput placeholder="Qtd">


  </mat-form-field>

  <span class="mat-title">{{product?.value | currency:'BRL':true}}</span> 
</div>

<div style="padding: 24px;margin: 8px;" fxLayout="column">
  <span class="mat-title">Endereço de entrega <mat-icon>edit</mat-icon> </span>
  <span class="mat-subheading-2">Rua Valsa chorosa, 100</span>
  <span class="mat-subheading-2">SP, São Paulo</span>
</div>

<div style="padding: 24px;margin: 8px;" fxLayout="column">
  <span class="mat-title">Pagamento <mat-icon>edit</mat-icon> </span>
  <span class="mat-subheading-2">Tipo de pagamento: CARTÃO DE CREDITO</span>
  <span class="mat-subheading-2">Nº Cartão: 5278 7155 1539 5991</span>
  <span class="mat-subheading-2">Código de segurança: ***</span>
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <button mat-stroked-button color="accent" fxFlex.xs="100">
    COMPRAR AGORA
  </button>
</div>