<div fxLayout="column">
    <img  style="object-fit: scale-down;max-width: 100%;height: auto;" src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mlb-home-desktop-slider-picture-bbcc8244-e3f6-4dd6-b147-ad641497e32c.jpg">


    
    <ul fxLayout.xs="column" fxLayoutAlign.xs="center start" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" style="list-style: none;">
      <li>
        <a href="home#Livros em Oferta" class="mat-caption">Livros em Oferta</a>
      </li>
      <li>
        <a href="home#Lançamentos em Destaque" class="mat-caption">Lançamentos em Destaque</a>
      </li>
      <li>
        <a href="home#Importados" class="mat-caption">Importados</a>
      </li>
      <li>
        <a href="home#Universitários e Acadêmicos" class="mat-caption">Universitários e Acadêmicos</a>
      </li>
      <li>
        <a href="home#Didáticos e Escolares" class="mat-caption">Didáticos e Escolares</a>
      </li>
      <li>
        <a href="home#HQs e Mangás" class="mat-caption">HQs e Mangás</a>
      
      </li>
    </ul>


    <div fxLayout='row'>
      <app-product-list fxFlex="100"></app-product-list>
    </div>
</div>