<div fxLayout="column">

    <mat-toolbar style="background-color: #fff159;">
        <span class="mat-title" style="margin: 0" routerLink='/home'>Book Store</span>

        <!-- <span fxFlex="auto"></span> -->
        <span fxFlex></span>
        <button style="margin:0 4px" mat-button routerLink='/home' matBadgeColor="warn" mat-stroked-button>Comprar</button>


        <button matBadge="1" matBadgeColor="warn" mat-stroked-button routerLink='/shopping-cart'>
            <mat-icon>shopping_cart</mat-icon>

            <span fxHide.xs="true"> Carrinho de compras</span>

        </button>

    </mat-toolbar>


    <div fxFlex="100">
        <mat-form-field appearance="outline" fxFlex="100">
            <!-- <mat-label>Outline form field</mat-label> -->
            <input matInput placeholder="Buscar por livro..">
            <mat-icon matSuffix>search</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </div>

    <breadcrumb [allowBootstrap]="true"></breadcrumb>


</div>

<router-outlet></router-outlet>