<mat-card >
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.author}} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="width: 220px;height: 220px; object-fit: scale-down;" src="{{product.imageUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div fxLayout='column'>
      <p>
        {{product.description | truncate : 120 : "..." }}
      </p>

      <div class="mat-title">
        {{product.value | currency:'BRL':true}}
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions fxLayout='row'>
    <button mat-stroked-button color="accent" fxFlex.xs="100">
      COMPRAR
    </button>
  </mat-card-actions>
</mat-card>